@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/900.css";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/*Write your custom CSS here*/
* {
  font-family: "Plus Jakarta Sans";
  color: #2e2e2e;
}
.side-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  width: fit-content;
  padding: 1rem 2rem;
}
.container {
  border: 1px solid rgba(46, 46, 46, 0.15);
  border-radius: 0.5rem;
}
.test {
  border: solid 1px red;
}
.Navigations .active {
  background-color: #088395;
  font-weight: 500;
  border-radius: 0.375rem;
  display: flex;
}
.active p {
  color: #fff !important;
}
.settings-nav .active li {
  color: #088395;
  border-bottom: #088395 3px solid;
  padding: 0 0.5rem;
}
input::-webkit-input-placeholder {
  font-size: 0.8rem;
}
input:focus {
  outline: none;
}
